<!-- app/templates/dashboard.html -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Panel de Control</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-dark text-white">
    <div class="container mt-5">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h2 class="card-title">Bienvenido, {{ usuario }} ({{ rol }})</h2>
                <p class="card-text">Este es tu panel de control personalizado.</p>

                {% if rol == 'Administrador' %}
                <ul>
                    
                    <li>⚙️ Gestionar usuarios</li>
                    <li>📄 Control de documentos</li>
                    <li>
                        <a href="{{ url_for('routes.crear_usuario') }}" class="btn btn-light mt-2">➕ Crear usuario</a>
                    </li>
                    <li>
                        <a href="{{ url_for('routes.listar_usuarios') }}" class="btn btn-light mt-2">👥 Gestionar usuarios</a>
                    </li>
                </ul>
                {% elif rol == 'Analista' %}
                <ul>
                    <li>📊 Visualizar reportes</li>
                    <li>🔍 Buscar documentos</li>
                </ul>
                {% elif rol == 'Head' %}
                <ul>
                    <li>📁 Acceso a informes ejecutivos</li>
                    <li>🔒 Control de políticas y auditorías</li>
                {% endif %}
                     <li>
                        <a href="{{ url_for('routes.ver_documento') }}" class="btn btn-light mt-2">📂 Ver documentos</a>
                    </li>
                    <li>
                        <a href="{{ url_for('routes.subir_documento') }}" class="btn btn-light mt-2">📤 Subir documento</a>
                    </li>
                </ul>

                <a href="{{ url_for('routes.logout') }}" class="btn btn-light mt-3">Cerrar sesión</a>
                
            </div>
        </div>
    </div>
</body>

</html>